<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>welcome to <i class="fas fa-book"></i><strong>Bookers!</strong></h1>
      <p>In <strong>Bookers</strong>,</p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>
    </div>
  </div>

  <div class="mx-auto text-center w-75 mb-3 bg-info text-white rounded" type="button">
    <%= link_to "Log in", new_user_session_path, class: 'nav-link text-white' %>
  </div>
  <div class="mx-auto text-center w-75 mb-3 bg-success text-white rounded" type="button">
    <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link text-white'%>
  </div>
</div>